services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mypostgrespw
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./postgres_conf:/etc/postgresql_conf
      - ./wal_archive:/var/lib/postgresql/wal_archive
    env_file: ./postgres.env
    ports:
      - "127.0.0.1:5432:5432"  # bind to localhost only

  pgbouncer:
    image: edoburu/pgbouncer:1.16
    container_name: pgbouncer
    restart: always
    depends_on: 
      - postgres
    volumes:
      - ./pgbouncer:/etc/pgbouncer
    ports:
      - "127.0.0.1:6432:6432"  # apps on the VPS can use localhost:6432
    environment:
      - DATABASE_URL=postgres://postgres:mypostgrespw@postgres:5432/postgres

  # postgres_exporter:
  #   image: prometheuscommunity/postgres-exporter
  #   container_name: pg_exporter
  #   restart: always
  #   environment:
  #     DATA_SOURCE_NAME: "postgresql://postgres:mypostgrespw@postgres:5432/postgres?sslmode=disable"
  #   depends_on:
  #     - postgres

  # prometheus:
  #   image: prom/prometheus:latest
  #   container_name: prometheus
  #   volumes:
  #     - ./prometheus:/etc/prometheus
  #   ports:
  #     - "9090:9090"

  # grafana:
  #   image: grafana/grafana:latest
  #   container_name: grafana
  #   ports:
  #     - "3000:3000"

volumes:
  pgdata: